@font-face {
    font-family: 'nerd';
    src: url('/fonts/nerd.ttf') format('truetype');
}


.cmd, .cmd span:not(.fas):not(.far):not(.fa), .terminal, .terminal-output>:not(.raw), .terminal-output>:not(.raw) a, .terminal-output>:not(.raw) span:not(.fas):not(.far):not(.fa) {
    font-family: 'nerd';
    word-wrap: break-word;
    
}

@supports (--css:variables) {
    .cmd, .cmd div, .cmd span, .terminal, .terminal-output>:not(.raw) a, .terminal-output>:not(.raw) div, .terminal-output>:not(.raw) span {
        font-size: 15px;
    }
}

img {
	display: none;
}

.terminal-output, span {
    word-wrap: break-word;
    text-wrap: wrap;
}

html, body {
  height: 100dvh;
  margin: 0;
  padding: 0;
}

::selection {
    background-color: hsla(0, 0%, 66.7%, 0.99);
    color: #000;	
}


p, h1, h2, h3, h4, h5, h6 {
	margin: 0;
	color: var(--color, #aaa);
	background-color: var(--background, #000);
	font-size: 12px;
}

body {
	display: flex;
	gap: 2px;
	font-family: 'nerd';
	color: white;
	background: black;
}

#a, #b{
  height: 100dvh;
  border: 1px solid white;
}

#onlineusers, #offlineusers, #dm, #chats {
	padding-left: 10px;
}

.side {
	display: flex;
	flex-direction: column;
	gap: 2px;
}


#c, #d {
	min-height: 10dvh;	
	max-height: 50dvh;
	border: 1px solid white;
	padding: 10px;
	scrollbar-color: var(--color, #aaa) var(--background, #000);
    scrollbar-width: thin;
    overflow-y:scroll;
}

#a {
	width: 23dvw
}

#c {
	width: 17dvw;
}

#b {
	width: 60dvw;
}

#b .terminal-output {
	display: flex;
	gap: 2px;
	flex-direction: column;
}

span {
	color: #aaa;
}

@media (max-width: 768px) {
    body {
        flex-direction: column-reverse;
    }

    #c{
    	height: 10dvh;
    	overflow: scroll;
    }
    #b {
    	width: 100%	
    	scrollbar-color: var(--color, #aaa) var(--background, #000);
    	scrollbar-width: thin;
    }
    #a, #c, #d {
    	width: -webkit-fill-available;
    	scrollbar-color: var(--color, #aaa) var(--background, #000);
    	scrollbar-width: thin;
    }
}